<% include header.ejs %>



      <p>
        ----------------------------------
      </p>




      <div id="app">
        {{ message }}
      </div>

      <div id="opps">
        {{ tota }}
      </div>

      <div id="app-2">
      <span v-bind:id="id">Inspect me</span>
      </div>

      <div id="app-3">
        <p v-if="seen">Now you see me</p>
      </div>

      <div id="app-4">
        <ol>
            <li v-for="todo in todos">
            {{ todo.text }}
            </li>
        </ol>
      </div>

      <div id="app-5">
      <p>{{ message }}</p>
      <button v-on:click="reverseMessage">Reverse Message</button>
      </div>

      <div id="app-7">
        <ol>
          <todo v-for="todo in todos" v-bind:todo="todo"></todo>
        </ol>


      </div>


      <div class="container">


      <div id="test" class="well">
        <p>
          {{ a }}
        </p>


        <p>
          ----------------------------------
        </p>



        <table class="table">
            <tr>
                <th>Product Code</th>
                <th>Product Name</th>
            </tr>
            <tr v-for="Item in items">
                <td>{{ Item.prodcode }}</td>
                <td>{{ Item.prodname }}</td>
            </tr>
        </table>

      </div>
      </div>


<% include footer.ejs %>

<% include javascript.ejs %>
